<div class="col-md-12">

  <div id="carousel" title="Your own Carousel"></div>
  <hr class="none">

  <div class="labels col-md-3 pull-left">
    <span>WYSIWYG</span>
  </div>
  <hr class="none">

  <div class="item clearfix row">
    <div class="main col-md-12 pull-left">
      <textarea id="text" ui-tinymce class="form-control" rows="5" width="100%" ng-model="ContentHome.data_content"></textarea>
    </div>
  </div>
  <hr class="none">


  <div class="col-md-12">
    <div class="item row clearfix">
      <div class="labels col-md-3 pull-left">
        <input type="checkbox" value="ContentHome.urlFlag.urlOneFlag" data-ng-model="ContentHome.urlFlag.urlOneFlag" ng-change="ContentHome.changeUrl(ContentHome.url.urlOne,'a',ContentHome.urlFlag.urlOneFlag);"><span class="shift">All Matches</span>
      </div>
      <div class="main col-md-9 pull-right padding-left-zero row">
        <div class="pull-left col-md-8 padding-zero">
          <input type="url" class="form-control" ng-model="ContentHome.url.urlOne"/>
        </div>
        <div class="col-md-4 pull-right">
          <a ng-click="ContentHome.changeUrl(ContentHome.url.urlOne,'a',ContentHome.urlFlag.urlOneFlag);" class="btn btn-success pull-right stretch" title="Change Url for All matches">Change Url</a>
        </div>
      </div>
    </div>
    <br>

    <div class="item row clearfix">
      <div class="labels col-md-3 pull-left">
        <input type="checkbox" value="ContentHome.urlFlag.urlTwoFlag" data-ng-model="ContentHome.urlFlag.urlTwoFlag" ng-change="ContentHome.changeUrl(ContentHome.url.urlTwo,'b',ContentHome.urlFlag.urlTwoFlag);"><span class="shift">Today's Match</span>
      </div>
      <div class="main col-md-9 pull-right padding-left-zero row">
        <div class="pull-left col-md-8 padding-zero">
          <input type="url" class="form-control" ng-model="ContentHome.url.urlTwo"/>
        </div>
        <div class="col-md-4 pull-right">
          <a ng-click="ContentHome.changeUrl(ContentHome.url.urlTwo,'b',ContentHome.urlFlag.urlTwoFlag);" class="btn btn-success pull-right stretch" title="Change Url for Today's matches">Change Url</a>
        </div>
      </div>
    </div>
    <br>

    <div class="item row clearfix">
      <div class="labels col-md-3 pull-left">
        <input type="checkbox" value="ContentHome.urlFlag.urlThreeFlag" data-ng-model="ContentHome.urlFlag.urlThreeFlag" ng-change="ContentHome.changeUrl(ContentHome.url.urlThree,'c',ContentHome.urlFlag.urlThreeFlag);"><span class="shift">Score Board</span>
      </div>
      <div class="main col-md-9 pull-right padding-left-zero row">
        <div class="pull-left col-md-8 padding-zero">
          <input type="url" class="form-control" ng-model="ContentHome.url.urlThree"/>
        </div>
        <div class="col-md-4 pull-right">
          <a ng-click="ContentHome.changeUrl(ContentHome.url.urlThree,'c',ContentHome.urlFlag.urlThreeFlag);" class="btn btn-success pull-right stretch" title="Change Url for Score Board matches">Change Url</a>
        </div>
      </div>
    </div>
    <br>

    <div class="item row clearfix">
      <div class="labels col-md-3 pull-left">
        <input type="checkbox" value="ContentHome.urlFlag.urlFourFlag" data-ng-model="ContentHome.urlFlag.urlFourFlag" ng-change="ContentHome.changeUrl(ContentHome.url.urlFour,'d',ContentHome.urlFlag.urlFourFlag);"><span class="shift">Country</span>
      </div>
      <div class="main col-md-9 pull-right padding-left-zero row">
        <div class="pull-left col-md-8 padding-zero">
          <input type="url" class="form-control" ng-model="ContentHome.url.urlFour"/>
        </div>
        <div class="col-md-4 pull-right">
          <a ng-click="ContentHome.changeUrl(ContentHome.url.urlFour,'d',ContentHome.urlFlag.urlFourFlag);" class="btn btn-success pull-right stretch" title="Change Url for Country">Change Url</a>
        </div>
      </div>
    </div>
    <br>

    <div class="item row clearfix">
      <div class="labels col-md-3 pull-left">
        <input type="checkbox" value="ContentHome.urlFlag.urlFiveFlag" data-ng-model="ContentHome.urlFlag.urlFiveFlag" ng-change="ContentHome.changeUrl(ContentHome.url.urlFive,'e',ContentHome.urlFlag.urlFiveFlag);"><span class="shift">Teams</span>
      </div>
      <div class="main col-md-9 pull-right padding-left-zero row">
        <div class="pull-left col-md-8 padding-zero">
          <input type="url" class="form-control" ng-model="ContentHome.url.urlFive"/>
        </div>
        <div class="col-md-4 pull-right">
          <a ng-click="ContentHome.changeUrl(ContentHome.url.urlFive,'e',ContentHome.urlFlag.urlFiveFlag);" class="btn btn-success pull-right stretch" title="Change Url for Teams">Change Url</a>
        </div>
      </div>
    </div>
    <br>
  </div>


</div>
